<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/updatedata" method="post">
        <input type="text" name="id" id="id" value="<%= singledata.id %>" hidden>
        <input type="text" placeholder="Name" name="name" required value="<%= singledata.name %>">
        <input type="text" placeholder="Age" name="age" required value="<%= singledata.age %>">
        <button type="submit">Update Data</button>
    </form>
    
</body>

</html>